env/
*.log
.env
venv/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
manage.py
tester.py
migrations/
tester_updateCourt.py
jurors_hist.py
__pycache__*
