{% extends "layout.html" %}

{% block body%}
{% block header %}
  <div class="row">
    <div class="col">
      <h4>{% block title %}Dispute #{{ dispute['id']}}{% endblock %}</h4>
    </div>
  </div>
{% endblock %}

{% block content %}

<div class="row">
    <table class="table table-bordered table-responsive">
      <tr class="info">
        <td align="center">Dispute Status</td>
        <td align="center">Period</td>
        <td align="center">Last Period Change</td>
      </tr>
      <tr class={{'success' if dispute.ruled}}>
        <td class="text-center">{{'Case Closed' if dispute.ruled else 'Ongoing'}}</td>
        <td class="text-center">{{dispute.period_name}}</td>
        <td class="text-center"><span class="datetime-string">{{dispute.last_period_change}}</span> UTC</td>
      </tr>
    </table>
</div>
<div class="row">
    <table class="table table-bordered table-responsive">
      <tr class="text-center info">
        <td>Yes</td>
        <td>No</td>
        <td>Pending</td>
      </tr>
      <tr class={{"text-center success" if dispute.ruled else "text-center"}}>
        <td>{{vote_count['Yes']}}</td>
        <td>{{vote_count['No']}}</td>
        <td>{{vote_count['Pending']}}</td>
      </tr>
    </table>
</div>
<div class="row mb-5">
{% for r in dispute.rounds: %}
<table class="table table-bordered table-striped table-responsive">
  <tr class={{"success" if r.majority_reached else "warning"}}>
    <td class="">Round {{r.round_num}} - {{ 'Majority reached' if r.majority_reached else 'No majority' }}</td>
    <td align="center">Vote</td>
  </tr>
  {% for v in r.votes %}
    <tr>
      <td>{{v.account}}</td>
      <td align="right">{{ v.vote_str }}</td>
    </tr>
  {% endfor %}
</table>
{% endfor %}
</div>
  <div align="center">
  <button type="button" class="btn btn-primary cursor-clickable mb-3"
  button onclick="window.location.href = 'https:court.kleros.io/cases/{{ dispute['id']}}';">Check this Case on Kleros</button>
  </div>
{% endblock %}
{% endblock %}
