<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sticky-footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Kleros Dashboard!</title>
  </head>
  
  <header>
    <nav class="navbar navbar-default" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-left" href="/"><img alt="Logo" style="max-height:50px;" src="{{ url_for('static', filename='images/kleros-symbol-grey-flat.png') }}"></a>
    </div>

    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li class="navbar-item"><a href="/">DashBoard</a></li>
        <li class="navbar-item"><a href="/odds/">Juror Odds!</a></li>
        <li class="navbar-item"><a href="/dispute/">Dispute Scanner</a></li>
        <li class="navbar-item"><a href="/kleros-map/">Kleros Community Map!</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <div style="margin-right: 10px; margin-left: 15px; margin-top: 5px; margin-bottom: 5px;"  class="container-fluid">
            <p class="nav navbar-text"> Last Update: {{ last_update }} UTC</p>
            <a href="/support/" class="navbar-text"> <span class="glyphicon glyphicon-heart"></span> Support</a>
        </div>
    </ul>
    </div>
    </nav>
    <div class="container-fluid">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>This Dashboard is still under development in beta mode. If you find a bug or values that don't make sense,
            please contact me on <a href="https://www.t.me/kokialgo" class="alert-link">Telegram</a> or oppen an issue 
            on <a href="https://github.com/salgozino/KlerosJurorDashboard/issues" class="alert-link">github</a>
            </p>
        </div>
    </div>
  </header>
  
    <body>
    <div class="container" style="padding-right:30px;padding-left:30px">
        {% block body %}{% endblock %}
    </div>
    
    
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <footer class="footer">
        <div class="container">
        <p class="text-center padding-top text-muted">Made with <span class="glyphicon glyphicon-heart"></span> to the Kleros Community</p>
        </div>
    </footer>
    </body>
</html>