{% extends "layout.html" %}

{% block body%}
    
{%if network=='xdai'%}
    {% set reward_currency =  'xDai'  %}
{%else%}
    {% set reward_currency =  'ETH'  %}
{%endif%}

    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
        <table class="table table-bordered table-hover">
          <tr class="info">
            <td align="center">Arbitrable</td>
            <td align="center">Arbitrable Name</td>
            <td align="center">Disputes Created</td>
            <td align="center">Fees generated</td>
          </tr>
          {% for arbitrable in arbitrables|sort(attribute='id', reverse=True): %}
          <tr>
            <td class="text-center"><a href={{url_for('arbitrable', address=arbitrable['id'], network=network)}}>{{arbitrable['id']}}</a></td>
            <td class="text-center">{{arbitrable['id']|arbitrableName(network)}}</td>
            <td class="text-center">{{arbitrable['numberOfDisputes']}}</td>
            <td class="text-center">{{arbitrable['ethFees']}} {{reward_currency}} </td>
          </tr>
          {% endfor %}
        </table>
    </div>
        
{% endblock %}