{% extends "layout.html" %}

{% block body%}

    <!-- Evidence Phase disputes -->
    <div class="row">
      <div class="col">
        <h4>Disputes in evidence phase: {{disputes|selectattr("period", "equalto", "evidence")|list|length}}</h4>
      </div>
    </div>
      
    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="info">
              <th class="text-center">Court</th>
              <th class="text-center">Dispute Number</th>
              <th class="text-center">Time remaining in this period</th>
            </tr>
          </thead>
          {% for dispute in disputes|selectattr("period", "equalto", "evidence") |sort(attribute='id', reverse=True): %}
          <tr class='warning'>
            <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'], network=network)}}>{{dispute['subcourtID']|courtName(network)}}</a></td>
            <td class="text-center"><a href={{url_for('dispute', id=dispute['id'], network=network)}}>{{dispute['id']}}</a></td>
            <td class="text-center"><span class="datetime-string">{{dispute['periodEnds']|timedelta_now}}</span></td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <!-- Commit Phase disputes -->
    <div class="row">
      <div class="col">
        <h4>Disputes in commit phase: {{disputes|selectattr("period", "equalto", "commit")|list|length}}</h4>
      </div>
    </div>

    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="info">
              <th class="text-center">Court</th>
              <th class="text-center">Dispute Number</th>
              <th class="text-center">Time remaining in this period</th>
            </tr>
          </thead>
          {% for dispute in disputes|selectattr("period", "equalto", "commit") |sort(attribute='id', reverse=True): %}
          <tr class='warning'>
            <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'], network=network)}}>{{dispute['subcourtID']|courtName(network)}}</a></td>
            <td class="text-center"><a href={{url_for('dispute', id=dispute['id'], network=network)}}>{{dispute['id']}}</a></td>
            <td class="text-center"><span class="datetime-string">{{dispute['periodEnds']|timedelta_now}}</span></td>
          </tr>
          {% endfor %}
        </table>
    </div>

    <!-- Voting Phase disputes -->
    <div class="row">
      <div class="col">
        <h4>Disputes in voting phase: {{disputes|selectattr("period", "equalto", "vote")|list|length}}</h4>
      </div>
    </div>

    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="info">
              <th class="text-center">Court</th>
              <th class="text-center">Dispute Number</th>
              <th class="text-center">Time remaining in this period</th>
            </tr>
          </thead>
          {% for dispute in disputes|selectattr("period", "equalto", "vote") |sort(attribute='id', reverse=True): %}
          <tr class='warning'>
            <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'], network=network)}}>{{dispute['subcourtID']|courtName(network)}}</a></td>
            <td class="text-center"><a href={{url_for('dispute', id=dispute['id'], network=network)}}>{{dispute['id']}}</a></td>
            <td class="text-center"><span class="datetime-string">{{dispute['periodEnds']|timedelta_now}}</span></td>
          </tr>
          {% endfor %}
        </table>
    </div>

     <!-- Appeal disputes-->
     <div class="row">
      <div class="col">
        <h4>Disputes in appeal phase: {{disputes|selectattr("period", "equalto", "appeal")|list|length}}</h4>
      </div>
    </div>

      
    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
      <table class="table table-bordered table-hover">
        <thead>
        <tr class="info">
          <th class="text-center">Court</th>
          <th class="text-center">Dispute Number</th>
          <th class="text-center">Current Ruling</th>
          <th class="text-center">Time remaining in this period</th>
        </tr>
      </thead>
        {% for dispute in disputes|selectattr("period", "equalto", "appeal") |sort(attribute='id', reverse=True): %}
        <tr class='warning'>
          <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'], network=network)}}>{{dispute['subcourtID']|courtName(network)}}</a></td>
          <td class="text-center"><a href={{url_for('dispute', id=dispute['id'], network=network)}}>{{dispute['id']}}</a></td>
          <td class="text-center">{{dispute['currentRulling']}}</td>
          <td class="text-center"><span class="datetime-string">{{'Already Ruled' if dispute['ruled'] else dispute['periodEnds']|timedelta_now}}</span></td>
        </tr>
        {% endfor %}
      </table>
  </div>

    <!-- Executed disputes
    <div class="row">
      <div class="col">
        <h4>Disputes already executed: {{disputes|selectattr("period", "equalto", "execution")|list|length}}</h4>
      </div>
    </div>

      
    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
      <table class="table table-bordered table-hover">
        <thead>
        <tr class="info">
          <th class="text-center">Court</th>
          <th class="text-center">Dispute Number</th>
          <th class="text-center">Dispute Ruling</th>
          <th class="text-center">Dispute End date</th>
        </tr>
      </thead>
        {% for dispute in disputes|selectattr("period", "equalto", "execution") |sort(attribute='id', reverse=True): %}
        <tr class='success'>
          <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'], network=network)}}>{{dispute['subcourtID']}}</a></td>
          <td class="text-center"><a href={{url_for('dispute', id=dispute['id'], network=network)}}>{{dispute['id']}}</a></td>
          <td class="text-center">{{dispute['currentRulling']}}</td>
          <td class="text-center"><span class="datetime-string">{{dispute['lastPeriodChange']|timestamp2datetime}}</span></td>
        </tr>
        {% endfor %}
      </table>
  </div>
  -->
        
{% endblock %}