{% extends "layout.html" %}

{% block body%}
    {% block header %}
     <!-- Court Selector -->
        <div class="row">
            <form class="form-inline text-center" action="{{ url_for('court') }}" method="get">
              <div class="form-group">
                <label for="disputeIDInput">Court </label>
                <input class="form-control box-shadow" id="id" name="id" type="int" value={{ court.id }}>
              </div>
              <button type="submit" class="btn btn-default">Refresh</button>
            </form>
        </div>
        <br></br>
    {% endblock %}

    {% block content %}
    {% if court.id is not none %}

    <h3>Court #{{court['subcourtID']}}: {{court['subcourtID']|courtName}}</h3>
    <!-- Court Numbers -->
    <div class="row">
        
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Parent Court</h4>
                </div>
                {% if parent %}<ul class="list-group"><li class="list-group-item"><a href={{url_for('court', id=court['parent'])}}>{{court['parent']|courtName}}</a></li></ul>{% endif %}
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Court "Childrens"</h4>
                </div>
                {% if court['childs']|length > 0 %}
                    <ul class="list-group">
                    {% for child in court['childs']%}
                        <li class="list-group-item"><a href={{url_for('court', id=child)}}>{{ child|courtName }}</a></li>
                    {% endfor %}
                    </ul>
                {% else%}
                <ul class="list-group"><li class="list-group-item">No Childs</li></ul>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Court Reward</h4>
                </div>
                <div class="panel-body text-center">
                    {{"{:,.3f} ETH".format(court['feeForJuror']|filter_wei_2_eth)}}
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Juror for court jump</h4>
                </div>
                <div class="panel-body text-center">
                    {{court['jurorsForCourtJump']}}
                </div>
                <div class="panel-footer">
                    Amount of jurors in a dispute for jump to the parent court
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Total Disputes</h4>
                </div>
                <div class="panel-body text-center">
                    {{ open_cases + ruled_cases }}
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Ongoing Cases</h4>
                </div>
                <div class="panel-body text-center">
                    {{ open_cases }}
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Ruled Cases</h4>
                </div>
                <div class="panel-body text-center">
                    {{ ruled_cases }}
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Min. Stake</h4>
                </div>
                <div class="panel-body text-center">
                
                    {{"{:,.2f} PNK".format(min_stake)}}
                </div>
                <div class="panel-footer">
                    Minimum amount of PNK required for staking in the court
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Vote Stake</h4>
                </div>
                <div class="panel-body text-center">
                
                    {{"{:,.2f} PNK".format(vote_stake)}}
                </div>
                <div class="panel-footer">
                    PNK locked per vote. (What you can lose per vote)
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Fees paid</h4>
                </div>
                <div class="panel-body text-center">
                    <!--{{ "%.3f ETH"|format(fees['eth']) }}-->
                    Soon
                </div>
                <div class="panel-footer">
                    Fees paid to the coherent jurors of this court
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>PNK redistributed</h4>
                </div>
                <div class="panel-body text-center">
                    Soon
                    <!--{{"{:,.2f} PNK".format(fees['pnk'])}}-->
                </div>
                <div class="panel-footer">
                    PNK transfered from incoherent jurors to coherent jurors
                </div>
            </div>
        </div>
    </div>
        
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Active Jurors</h4>
                </div>
                <div class="panel-body text-center">
                
                    {{court['activeJurors']}}
                </div>
                <div class="panel-footer">
                    Number of Active jurors considering childrens courts
                </div>
            </div>
        </div>
                
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>Active Jurors</h4>
                </div>
                <div class="panel-body text-center">
                
                    {{n_jurors}}
                </div>
                <div class="panel-footer">
                    Number of active jurors staked in this court, without considering childrens courts
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>PNK Staked</h4>
                </div>
                <div class="panel-body text-center">
                
                    {{"{:,.2f} PNK".format(court['tokenStaked'])}}
                </div>
                <div class="panel-footer">
                    PNK staked in this court considering childrens courts
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4>PNK Staked</h4>
                </div>
                <div class="panel-body text-center">
                    {{ "{:,.2f} PNK".format(staked_in_this_court) }}
                </div>
                <div class="panel-footer">
                    PNK Staked just in this court
                </div>
            </div>
        </div>

    </div>

    <!-- Jurors -->
    <h4>Jurors without considering the childrens courts</h4>
    <!-- <h5> Total Staked in this court: {{ jurors | sum(attribute='stake') }}</h5> -->
    <div class="table-responsive" style="max-height:250px; overflow-y:auto">
        <table class="table table-bordered table-hover ">
            <thead>
              <tr class="info">
                <th align="center">Juror</td>
                <th align="center">Stake</td>
              </tr>
            </thead>
            <tbody>
                {% for juror in jurors: %}
                <tr>
                    <td class="text-center"><a href={{url_for('profile', address=juror['address'])}}>{{juror['address']}}</a></td>
                    <td class="text-center">{{ "{:0,.2f}".format(juror['stake']) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Histogram -->
    <div class="row">
        <div class="col-md-12 " id="juror_hist-id">
            <script>
                var graph = {{ juror_hist|safe }};
                Plotly.plot('juror_hist-id',graph,{});
            </script>
        </div>
    </div>
    </br>

    <!-- Disputes -->
    <h4>Court Disputes</h4>
    <h5>Number of disputes in this courts: {{disputes|length}}</h5>
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
          <tr class="info">
            <td align="center">Dispute N°</td>
            <td align="center">Status</td>
            <td align="center">Current Rulling</td>
            <td align="center">Last Period Change</td>
            <td align="center">Period Ends</td>
          </tr>
          </thead>
          <tbody>
          {% for dispute in disputes|sort(attribute='id', reverse=True): %}
          <tr class={{'success' if dispute['ruled'] else 'warning'}}>
            <td class="text-center"><a href={{url_for('dispute', id=dispute['id'])}}>{{dispute['id']}}</a></td>
            <td class="text-center">{{dispute['period']}}</td>
            <td class="text-center">{{dispute['currentRulling']}}</td>
            <td class="text-center"><span class="datetime-string">{{dispute['lastPeriodChange']|timestamp2datetime}}</span> UTC</td>
            <td class="text-center"><span class="datetime-string">{{dispute['periodEnds']}}</span></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
    {% endblock %}
{% endblock %}