{% extends "layout.html" %}

{% block body%}
    {% block header %}
     <!-- Dispute Selector -->
        <div class="row">
            <form class="form-inline text-center" action="{{ url_for('dispute') }}" method="get">
              <div class="form-group">
                <label for="disputeIDInput">Dispute </label>
                <input class="form-control box-shadow" id="id" name="id" type="int" value={{ dispute['disputeID'] }}>
              </div>
              <button type="submit" class="btn btn-default">Refresh</button>
            </form>
        </div>
        <br></br>
    {% endblock %}

{% block content %}
{% if error %}
    <p>{{error}}</p>
{% endif %}

{% if dispute['disputeID'] %}
      <div class="row">
        <div class="col">
          <h4>{% block title %}Dispute #{{ dispute['disputeID']}}{% endblock %}</h4>
        </div>
      </div>

    <div class="table-responsive">
        <table class="table table-bordered">
          <tr class="info">
            <td align="center">Court</td>
            <td align="center">Dispute Status</td>
            <td align="center">Period</td>
            <td align="center">Period Ends</td>
            <td align="center">Time remaining</td>
          </tr>
          <tr class={{'success' if dispute['ruled'] }}>
            <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'])}}>{{dispute['subcourtID']}}</a></td>
            <td class="text-center">{{'Already Ruled' if dispute['ruled'] else 'Ongoing'}}</td>
            <td class="text-center">{{dispute['period']|capitalize}}</td>
            <td class="text-center"><span class="datetime-string">{{dispute['periodEnds']}}</span> {%if dispute['periodEnds'] is not none%}UTC{%endif%}</td>
            <td class="text-center"><span class="datetime-string">{{'Already Ruled' if dispute['ruled'] else dispute['periodEnds']|timedelta}}</span></td>
          </tr>
        </table>
    </div>
    
       <div class="table-responsive">
        <h4>Unique Votes in all the rounds</h4>
        <table class="table table-bordered">
          <tr class="text-center info">
            <td style="width:25% !important">Yes</td>
            <td style="width:25% !important">No</td>
            <td style="width:25% !important">Refuse to arbitrate</td>
            <td style="width:25% !important">Pending</td>
          </tr>
          <tr class={{"text-center success" if dispute['ruled'] else "text-center"}}>
            <td style="width:25% !important">{{unique_vote_count['Yes']}}</td>
            <td style="width:25% !important">{{unique_vote_count['No']}}</td>
            <td style="width:25% !important">{{unique_vote_count['Refuse to Arbitrate']}}</td>
            <td style="width:25% !important">{{unique_vote_count['Pending']}}</td>
          </tr>
        </table>
    </div>
    {% for r in dispute['rounds']: %}
    <div class="table-responsive">
        <h4>Round {{r['round_num']}}</H4>
        <table class="table table-bordered">
          <tr class="text-center info">
            <td style="width:25% !important">Yes</td>
            <td style="width:25% !important">No</td>
            <td style="width:25% !important">Refuse to arbitrate</td>
            <td style="width:25% !important">Pending</td>
          </tr>
          <tr class={{"text-center success" if dispute['ruled'] else "text-center"}}>
            <td style="width:25% !important">{{vote_count[r['id']]['Yes']}}</td>
            <td style="width:25% !important">{{vote_count[r['id']]['No']}}</td>
            <td style="width:25% !important">{{vote_count[r['id']]['Refuse to Arbitrate']}}</td>
            <td style="width:25% !important">{{vote_count[r['id']]['Pending']}}</td>
          </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <tr class="info">
            <td class="">Round {{r['id'].split('-')[1]}}</td>
            <td align="center">Vote</td>
          </tr>
          {% for v in r['votes'] %}
            {% if dispute['period']=='execution' %}
                <tr class={{'success' if dispute['currentRulling'] == v['choice'] else 'danger'}}>
            {% else %}
                <tr>
            {% endif %}
              <td><a href={{url_for('profile', address=v['address'])}}>{{v['address']}}</a></td>
              <td align="right">{{ v['vote_str'] }}</td>
            </tr>
          {% endfor %}
        </table>
    </div>
    {% endfor %}

      <div align="center">
      <button type="button" class="btn btn-primary cursor-clickable mb-3"
      button onclick="window.location.href = 'https:court.kleros.io/cases/'">Check this Case on Kleros</button>
      </div>
{% endif %}
{% endblock %}
{% endblock %}