{% extends "layout.html" %}

{% block body%}
    {% block header %}
     <!-- Dispute Selector -->
        <div class="row">
            <form class="form-inline text-center" action="{{ url_for('dispute', network=network) }}" method="get">
              <div class="form-group">
                <label for="disputeIDInput">Dispute </label>
                <input class="form-control box-shadow" id="id" name="id" type="int" value={{ dispute['disputeID'] }}>
              </div>
              <button type="submit" class="btn btn-default">Refresh</button>
            </form>
        </div>
        <br></br>
    {% endblock %}

{% block content %}
{% if error %}
    <p>{{error}}</p>
{% endif %}

{% if dispute['disputeID'] is not none %}
      <div class="row">
        <div class="col">
          <h4>{% block title %}Dispute #{{ dispute['disputeID']}}{% endblock %}</h4>
        </div>
      </div>
    <div class="table-responsive">
        <table class="table table-bordered">
          <tr class="info">
            <td align="center">Court</td>
            <td align="center">Dispute Status</td>
            <td align="center">Period</td>
            <td align="center">Period Ends</td>
            <td align="center">Time remaining</td>
            <td align="center">Arbitrable</td>
            <td align="center">Creator</td>
          </tr>
          <tr class={{'success' if dispute['ruled'] }}>
            <td class="text-center"><a href={{url_for('court', id=dispute['subcourtID'], network=network)}}>{{dispute['subcourtID']|courtName(network)}}</a></td>
            <td class="text-center">{{'Already Ruled' if dispute['ruled'] else 'Ongoing'}}</td>
            <td class="text-center">{{dispute['period']|capitalize}}</td>
            <td class="text-center"><span class="datetime-string">{{dispute['periodEnds']}}</span> {%if dispute['periodEnds'] != 'Already Executed'%}UTC{%endif%}</td>
            <td class="text-center"><span class="datetime-string">{{'Already Ruled' if dispute['ruled'] else dispute['periodEnds']|timedelta}}</span></td>
            <td class="text-center"><a href={{url_for('arbitrable', address=dispute['arbitrable'], network=network)}}>{{dispute['arbitrable'][0:6] +'...'+ dispute['arbitrable'][-4:]}}</a></td>
            <td class="text-center"><a href={{ url_for('profile', address=dispute['creator'], network=network) }}>{{dispute['creator'][0:6] +'...'+ dispute['creator'][-4:]}}</a></td>
          </tr>
        </table>
    </div>
    
       <div class="table-responsive">
        <h4>Unique Votes in all the rounds</h4>
        <table class="table table-bordered">
          <tr class="text-center info">
            <td style="width:25% !important">Yes</td>
            <td style="width:25% !important">No</td>
            <td style="width:25% !important">Refuse to arbitrate</td>
            <td style="width:25% !important">Pending</td>
          </tr>
          <tr class={{"text-center success" if dispute['ruled'] else "text-center"}}>
            <td style="width:25% !important">{{dispute['unique_vote_count']['Yes']}}</td>
            <td style="width:25% !important">{{dispute['unique_vote_count']['No']}}</td>
            <td style="width:25% !important">{{dispute['unique_vote_count']['Refuse to Arbitrate']}}</td>
            <td style="width:25% !important">{{dispute['unique_vote_count']['Pending']}}</td>
          </tr>
        </table>
    </div>
    {% for r in dispute['rounds']: %}
    <div class="table-responsive">
        <h4>Round {{r['round_num']}}</H4>
        <table class="table table-bordered">
          <tr class="text-center info">
            <td style="width:25% !important">Yes</td>
            <td style="width:25% !important">No</td>
            <td style="width:25% !important">Refuse to arbitrate</td>
            <td style="width:25% !important">Pending</td>
          </tr>
          <tr class={{"text-center success" if dispute['ruled'] else "text-center"}}>
            <td style="width:25% !important">{{dispute['vote_count'][r['id']]['Yes']}}</td>
            <td style="width:25% !important">{{dispute['vote_count'][r['id']]['No']}}</td>
            <td style="width:25% !important">{{dispute['vote_count'][r['id']]['Refuse to Arbitrate']}}</td>
            <td style="width:25% !important">{{dispute['vote_count'][r['id']]['Pending']}}</td>
          </tr>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
          <tr class="info">
            <td class="">Round {{r['round_num']}}</td>
            <td align="center">Vote</td>
          </tr>
          {% for v in r['votes'] %}
            {% if dispute['period']=='execution' %}
                <tr class={{'success' if dispute['currentRulling'] == v['choice'] else 'danger'}}>
            {% else %}
                <tr>
            {% endif %}
              <td><a href={{url_for('profile', address=v['address'], network=network)}}>{{v['address']}}</a></td>
              <td align="right">{{ v['vote_str'] }}</td>
            </tr>
          {% endfor %}
        </table>
    </div>
    {% endfor %}

    <!--- Evidences -->
    <h3> Evidences </h3>
    Evidences provided by <a href='https://vagarish.forer.es/'>Vagarish</a>

    {% if dispute['evidences']|length > 0%}
      {% for evidenceData in dispute['evidences']|reverse %}
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
             <h4 class="panel-title text-center">Evidence #{{loop.index}}:</h4>
            </div>
            <div class="panel-body text-left">
              {{evidenceData['textContent']}}
            </div>
            <div class="panel-footer">
              <div class="col text-left"><a href={{url_for('profile', address=evidenceData['byAddress'], network=network)}}>{{evidenceData['byAddress']}}</a></div>
              <div class="col text-right">
              {%if evidenceData['fileIpfsPath']%}
              <a href="https://ipfs.kleros.io/{{evidenceData['fileIpfsPath']}}"><span class="glyphicon glyphicon-paperclip"></span></a>
              {%endif%}
              </div>
            </div>
          </div>
        </div>
      {%endfor%}
    {% else %}
    <p>There is no evidence for this dispute.
    This probably happened because this dispute was not compliant with ERC-1497.</p>
    {% endif%}

      <div align="center">
      <a class="btn btn-primary cursor-clickable mb-3" href="https://resolve.kleros.io/cases/{{ dispute['id']}}" target="_blank">Check this Case on Kleros Resolve</a>
      </div>
{% endif %}
{% endblock %}
{% endblock %}