{% extends "layout.html" %}

{% block body%}
<p><h5 style="display: inline;">Treemap Graphs</h5>
    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="In this graphs, the size of the boxes is proportional to the amount of Jurors or 'Total Staked'. The boxes positioning it's according the parenting of the different courts." aria-hidden="true"></span></p>
</br>
<!-- Graph of TreemapJurors -->
<div class="container">
    <div class="row">
        <h5>Active jurors</h5>
        <div class="col-md-12" id="treemapJurorsGraph-id" style="min-height:150px; max-height:100%">
            <script>
                var fig = {{treemapJurorsGraph | safe}};
                Plotly.plot('treemapJurorsGraph-id', fig.data, fig.layout);
            </script>
        </div>
    </div>
</div>

<!-- Graph of TreemapStaked -->
<div class="container">
    <div class="row">
        <h5>Token Staked</h5>
        <div class="col-md-12" id="treemapStakedGraph-id" style="min-height:150px; max-height:100%">
            <script>
                var fig = {{treemapStakedGraph | safe}};
                Plotly.plot('treemapStakedGraph-id', fig.data, fig.layout);
            </script>
        </div>
    </div>
</div

<!-- Graph of PNK Staked and Active Jurors -->
<div class="container">
    <div class="row">
        <div class="col-md-12 " id="Disputesgraph-id">
            <script>
                var graph = {{disputesgraph | safe}};
                Plotly.plot('Disputesgraph-id',graph,{});
            </script>
        </div>
    </div>
</div>

<!-- Graph of PNK Staked and Active Jurors -->
<!--
<div class="container">
    <div class="row">
        <div class="col-md-12" id="StakedPNKgraph-id" style="min-height:150px; max-height:100%">
            <script>
                var graph = {{stakedPNKgraph | safe}};
                Plotly.plot('StakedPNKgraph-id',graph,{});
            </script>
        </div>
    </div>
</div>
-->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="disputeCourtsgraph-id" style="min-height:150px; max-height:100%">
                <script>
                    var fig = {{disputeCourtgraph | safe}};
                    Plotly.plot('disputeCourtsgraph-id', fig.data, fig.layout);
                </script>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="chart" id="disputeCreatorgraph-id" style="min-height:150px; max-height:100%">
                <script>
                    var fig = {{disputeCreatorgraph | safe}};
                    Plotly.plot('disputeCreatorgraph-id', fig.data, fig.layout);
                </script>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
{% endblock %}