{% extends 'layout.html' %}

{% block body%}
    {% block header %}
      <div class="row">
        <div class="col">
          <h3>{% block title %}Juror {{ address }}</h3><h6><a href="https://etherscan.io/address/{{ address }}">view on etherscan</a></h6>{% endblock %}
        </div>
      </div>
    {% endblock %}

    {% block content %}
        <h2>Disputes Created</h2>
        <div class="mb-5">
          <table class="table table-bordered responsive table-sm">
            <tr class="info"><td>Dispute</td><td>Date</td><td>TxID</td></tr>
            {% for d in disputes: %}
            <tr>
              <td><a href={{ url_for('dispute', id= d.id) }}>Dispute {{d.id}}</a></td>
              <td>{{ d.timestamp }}</td>
              <td><a href="https://etherscan.io/tx/{{ d.txid }}">{{d.txid}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <h2>Stakes by Court</h2>
        <div class="mb-5">
          <table class="table table-bordered responsive table-sm">
            <tr class="info"><td>Court</td><td>Amount</td><td>TxID</td></tr>
            {% for stake in stakes: %}
              <tr>
                <td>{{stake[0]}}</td>
                <td>{{"{:0.2f}".format(stake[1].setStake)}}</td>
                <td><a href="https://etherscan.io/tx/{{ stake[1].txid }}">{{stake[1].txid}}</a></td>
              </tr>
            {% endfor %}
          </table>
        </div>

        <h2>Votes</h2>
        <div class="mb-5">
          <table class="table table-bordered responsive table-sm">
            <tr class="info"><td>Dispute</td><td>Round</td><td>Status</td><td>Choice</td></tr>
            {% for v in votes: %}
                {%if v[2].winning_choice is none %}
                    <tr class='active'>
                {% elif v[1].winning_choice == v[0].choice %}
                    <tr class='success'>
                {% else %}
                    <tr class='danger'>
                {% endif %}
                <td><a href="{{ url_for('dispute',id=v[2].id) }}">Dispute {{ v[2].id}}</a></td>
                <td>{{v[1].round_num}}</td>
                <td>{{ "Voted" if v[0].vote else "Pending"}}</td>
                <td>{{ v[0].vote_str }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
    {% endblock %}
{% endblock %}
