{% extends "layout.html" %}

{% block body%}

    <!--Google map-->
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=177hy7Cx7opzdjeaZXjHMRx1LdJsbKYEH"></iframe>
    </div>
    
    <div class="well well-sm bg-info" style="margin-top:10px">
    If you want to be part of the map, please complete this <a href="https://forms.gle/dBhbj3Cnx8WtJdfP8">form</a> with your name/nickname and city/country information.
    </div>
{% endblock %}
