<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sticky-footer.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Klerosboard 2.0!</title>
  </head>
  
  <header>
    <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
        para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="/"><img alt="Logo" style="max-height:50px;" src="{{ url_for('static', filename='images/kleros-symbol-grey-flat.png') }}"></a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
        otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-item"><a href="/?network={{network}}">Klerosboard</a></li>
                <li class="navbar-item"><a href="/graphs/?network={{network}}">Graphic Statistics</a></li>
                <li class="navbar-item"><a href="/odds/?network={{network}}">Juror Odds!</a></li>
                <li class="navbar-item"><a href="/court/?network={{network}}">Court Explorer</a></li>
                <li class="navbar-item"><a href="/dispute/?network={{network}}">Dispute Scanner</a></li>
                <li class="navbar-item"><a href="/kleros-map/?network={{network}}">Kleros Community Map!</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Network: {{network}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="?network=mainnet">Mainnet</a></li>
                    <li><a href="?network=xdai">xDai</a></li>
                  </ul>
                </li> -->
                <li><a href="support/?network={{network}}">Support <span class="glyphicon glyphicon-heart"></span></a></li>
              </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>This Dashboard is still under development in beta mode. If you find a bug or values that don't make sense,
            please open an issue on <a href="https://github.com/salgozino/KlerosJurorDashboard/issues" class="alert-link">github</a>
            </p>
        </div>
        {% if subgraph_status is not none %}
            {% if subgraph_status['status'] == 'Updating' %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>The <a href="https://thegraph.com/explorer/subgraph/salgozino/klerosboard">subgraph</a> it's updating, the numbers reported in this board aren't updated to the last ethereum block. Please return in a minutes.
                    Last block synced = {{subgraph_status['last_block']}}
                </p>
            </div>
            {% endif %}
        {% endif %}
    </div>
  </header>
  
    <body>
    <div class="container" style="padding-right:30px;padding-left:30px">
        {% block body %}{% endblock %}
    </div>
    
    
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <footer class="footer">
        <div class="container">
            <div class="text-center padding-top text-muted">Made with <span class="glyphicon glyphicon-heart"></span> to the Kleros Community | 
                <a href="https://thegraph.com/explorer/subgraph/salgozino/klerosboard"><img class=".img-responsive" src="/static/images/graphprotocol.png" width="16 px" height="16 px"></a>
                <a href="https://github.com/salgozino/KlerosJurorDashboard/"><img class=".img-responsive" src="/static/images/github.png"  width="16 px" height="16 px"></a>
            </div>
        </div>
    </footer>
    </body>
</html>
