<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sticky-footer.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
    
    
    <!-- BootstrapJS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Web3 -->
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script data-main="{{url_for('static', filename='js/web3_functions.js')}}" src="{{url_for('static', filename='js/require.js')}}"></script>

    <!-- Custom page imports -->
    {% block custom_js %}
    {% endblock %}
    <title>Klerosboard 2.0 {%block title%}{%endblock%}</title>
  </head>
  
  <header>
    <nav class="navbar navbar-default" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
        para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
        <span class="sr-only">Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="/"><img alt="Logo" style="max-height:50px;" src="{{ url_for('static', filename='images/kleros-symbol-grey-flat.png') }}"></a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
        otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-item"><a href="/?network={{network}}">Klerosboard</a></li>
                <li class="navbar-item"><a href="/graphs/?network={{network}}">Graphic Statistics</a></li>
                <li class="navbar-item"><a href="/odds/?network={{network}}">Juror Odds!</a></li>
                <li class="navbar-item"><a href="/court/?network={{network}}">Court Explorer</a></li>
                <li class="navbar-item"><a href="/dispute/?network={{network}}">Dispute Scanner</a></li>
                <li class="navbar-item"><a href="/arbitrable/?network={{network}}">Arbitrables Explorer</a></li>
                <li class="navbar-item"><a href="/stakes?network={{network}}">Stakes Explorer</a></li>
                <li class="navbar-item"><a href="/kleros-map/?network={{network}}">Kleros Community Map!</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Network: {{network}} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="?network=mainnet">Mainnet</a></li>
                    <li><a href="?network=xdai">xDai</a></li>
                  </ul>
                </li>
                <li id="connectionSelection" class="dropdown">
                {%if current_user.is_authenticated%}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.id[:6]}}...{{current_user.id[-4:]}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href={{ url_for('profile', address=current_user.id, network=network) }}>My Profile</a></li>
                        <li class="text-center">Total Donated: {{current_user.total_donated}} ETH</li>
                        <li><a href="/logout?next={{request.path}}">Logout</a></li>
                    </ul>
                {%else%}
                    <a href="#" class="btn btn-sm" id=loginButton onclick="login();return false;">Login with Metamask</a>
                {%endif%}
                </li>
                <li><a href="/support/?network={{network}}">Support <span class="glyphicon glyphicon-heart"></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% if subgraph_status is not none %}
            {% if subgraph_status['status'] == 'Updating' %}
                {% if network == 'xdai' %}
                    {% set subgraph_name = 'klerosboard-xdai' %}
                {% else %}
                    {% set subgraph_name = 'klerosboard' %}
                {%endif%}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>The <a href="https://thegraph.com/explorer/subgraph/salgozino/'{{subgraph_name}}">subgraph</a> it's updating, the numbers reported in this board aren't updated to the last ethereum block. Please return in a minutes.
                    Last block synced = {{subgraph_status['last_block']}}
                </p>
            </div>
            {% endif %}
        {% endif %}
    </div>
    <div class="container">

    </div>
  </header>
  
    <body>
    {%if network=='xdai'%}
        {% set reward_currency =  'xDai'  %}
        {% set block_explorer =  'https://blockscout.com/xdai/mainnet'  %}
    {%else%}
        {% set reward_currency =  'ETH'  %}
        {% set block_explorer =  'https://etherscan.io'  %}
    {%endif%}
    <div class="container" style="padding-right:30px;padding-left:30px">
        {% block body %}{% endblock %}
    </div>
    
    
    <footer class="footer">
        <div class="container">
            <div class="text-center padding-top text-muted">Made with <span class="glyphicon glyphicon-heart"></span> to the Kleros Community | 
                <a href="https://thegraph.com/explorer/subgraph/salgozino/klerosboard"><img class=".img-responsive" src="/static/images/graphprotocol.png" width="16 px" height="16 px"></a>
                <a href="https://github.com/salgozino/KlerosJurorDashboard/"><img class=".img-responsive" src="/static/images/github.png"  width="16 px" height="16 px"></a>
            </div>
        </div>
    </footer>


    </body>
</html>
