{% extends "layout.html" %}

{% block body%}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">General Information</h3>
        </div>
        <div class="panel-body">
            <p>This is the Dashboard of the Kleros Court. Here you can find metrics about the amount of cases, jurors, stakes, etc. In addition, in the Juror Odds section, you can estimate your chances of being drawn in the different courts.</p>
            <p>The source code can be found on <a href="https://github.com/salgozino/KlerosJurorDashboard">github</a>. If you found issues or want some improvement, please open an issue there.</p>
            <p>Kleros is a decentralized dispute platform. For more information, visit <a href="https://kleros.io">kleros.io</a></p>
        </div>
    </div>
</div>

<!-- First Line Metrics -->
<!-- Cases Metrics -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Disputes</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ disputes }}</h4>
                </div>
                <div class="panel-footer">
                Number of disputes created in Kleros Courts.
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Most Active Courts</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ most_active_court }}</h4>
                </div>
                <div class="panel-footer">
                The court with more cases in the last 7 days.
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Cases already Closed</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ cases_closed }}</h4>
                </div>
                <div class="panel-footer">
                Number of cases already ruled
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Cases under ruling</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ cases_rulling }}</h4>
                </div>
                <div class="panel-footer">
                Number of open cases.
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Second Line Metrics -->
<!-- Jurors metrics -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Active Jurors</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ activeJurors }}</h4>
                </div>
                <div class="panel-footer">
                Number of active Jurors
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Drawn Jurors</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ jurorsdrawn }}</h4>
                </div>
                <div class="panel-footer">
                Number of Jurors that were drawn at least one time.
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Retention</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ "%.2f"|format(retention*100) }}%</h4>
                </div>
                <div class="panel-footer">
                Number of Jurors that keep staking after the first vote.
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Adoption</h3>
                </div>
                <div class="panel-body text-center">
                    <h4>{{ "%.0f"|format(adoption) }}</h4>
                </div>
                <div class="panel-footer">
                Number of new Jurors staked in the last month
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Third Line Metrics -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">PNK Total Supply</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ "{:,.0f}".format(tokenSupply) }} PNK</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">PNK Circulating Supply</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ "{:,.2f}".format(pnkCircSupply) }}</h4>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">PNK Staked in Courts</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ "{:,.0f}".format(pnkStaked) }} PNK</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">% Staked of Total Supply</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ "%.2f"|format(pnkStakedPercent*100) }}%</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fourth Line Metrics | Prices-->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">ETH Price</h3>
                </div>
                <div class="panel-body text-center">
                <h4>${{ "{:,.2f}".format(ethPrice) }}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">PNK in USD</h3>
                </div>
                <div class="panel-body text-center">
                <h4>${{ "{:,.3f}".format(pnkPrice) }}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">PNK Vol in last 24 hs</h3>
                </div>
                <div class="panel-body text-center">
                <h4>${{ "{:,.2f}".format(pnkVol24) }}</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">PNK Price change in last 24 hs.</h3>
                </div>
                <div class="panel-body text-center">
                <h4>{{ "{:,.2%}".format(pnkPctChange) }}</h4>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Table -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <!-- Table -->
            <div class="panel panel-default table-responsive">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Courts Statistics</h3>
                </div>
                
                <table class="table table-hover ">
                    <thead>
                        <tr class="active">
                            <th scope="col">Court</th>
                            {% for col in courtTable['General'].keys() %}
                            <th scope="col">{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% set ns = namespace(mostActive='General') %} 
                    {% for c, data in courtTable.items() %}
                        {% if data['Disputes in the last 30 days'] > courtTable[ns.mostActive]['Disputes in the last 30 days']%}
                            {% set ns.mostActive = c%}
                        {% endif%}
                    {% endfor%}
                    
                    {% for c, data in courtTable.items() %}
                    {% if c == ns.mostActive %}<tr class="success">{%else%}<tr>{%endif%}
                            <th scope="row"> {{ c }}</th>
                            {% for col, value in data.items() %}
                            {% if col == 'Min Stake in USD' %}
                            <td class="text-right">${{ "{:,.2f}".format(value) }}</td>
                            {%else%}
                            <td class="text-right">{{ "{:,.0f}".format(value) }}</td>
                            {%endif%}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<p><h3 style="display: inline;">Treemap Graphs</h3>  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="In this graphs, the size of the boxes is proportional to the amount of Jurors or 'Total Staked'. The boxes positioning it's according the parenting of the different courts." aria-hidden="true"></span></p>
<p></p>
<!-- Graph of TreemapJurors -->
<div class="container">
    <div class="row">
        <div class="col-md-12" id="treemapJurorsGraph-id" style="min-height:150px; max-height:100%">
            <script>
                var fig = {{treemapJurorsGraph | safe}};
                Plotly.plot('treemapJurorsGraph-id', fig.data, fig.layout);
            </script>
        </div>
    </div>
</div>

<!-- Graph of TreemapStaked -->
<div class="container">
    <div class="row">
        <div class="col-md-12" id="treemapStakedGraph-id" style="min-height:150px; max-height:100%">
            <script>
                var fig = {{treemapStakedGraph | safe}};
                Plotly.plot('treemapStakedGraph-id', fig.data, fig.layout);
            </script>
        </div>
    </div>
</div

<!-- Graph of PNK Staked and Active Jurors -->
<div class="container">
    <div class="row">
        <div class="col-md-12 " id="Disputesgraph-id">
            <script>
                var graph = {{disputesgraph | safe}};
                Plotly.plot('Disputesgraph-id',graph,{});
            </script>
        </div>
    </div>
</div>

<!-- Graph of PNK Staked and Active Jurors -->
<div class="container">
    <div class="row">
        <div class="col-md-12" id="StakedPNKgraph-id" style="min-height:150px; max-height:100%">
            <script>
                var graph = {{stakedPNKgraph | safe}};
                Plotly.plot('StakedPNKgraph-id',graph,{});
            </script>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="disputeCourtsgraph-id" style="min-height:150px; max-height:100%">
                <script>
                    var fig = {{disputeCourtgraph | safe}};
                    Plotly.plot('disputeCourtsgraph-id', fig.data, fig.layout);
                </script>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="chart" id="disputeCreatorgraph-id" style="min-height:150px; max-height:100%">
                <script>
                    var fig = {{disputeCreatorgraph | safe}};
                    Plotly.plot('disputeCreatorgraph-id', fig.data, fig.layout);
                </script>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
{% endblock %}
