{% extends "layout.html" %}

{% block body%}

<h3>Know Your Odds by Court!</h3>
<div class="container">
    <!-- PNK Staked Form input -->
    <div class="row">
        <form class="form-inline text-center" method="post">
          <div class="form-group">
            <label for="pnkStakedInput">PNK Staked</label>
            <input class="form-control box-shadow" id="pnkStakedInput" name="pnkStaked" type="number" value={{ pnkStaked }}>  
            <label for="nJurors">Num. of votes</label>
            <input class="form-control box-shadow" id="n_votes" name="n_votes" type="number" step="2" value={{ n_votes }}>
          </div>
          <button type="submit" class="btn btn-default">Refresh</button>
        </form>
    </div>
    <br></br>
    <!-- Table -->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead>
                    <tr class="active">
                        <th scope="col" class="text-center">Court</th>
                        {% set row_index =  courtChances.keys()|list %}
                        {% for col in courtChances[row_index[0]].keys() %}
                        <th scope="col" class="text-center">{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for c, data in courtChances.items() %}
                    <tr>
                        <th scope="row" style="word-break: break-all"> {{ c }}</th>
                        {% for col, value in data.items() %}
                            {% if col == 'Odds' %}
                                <td class="text-right">{{ "{:.2%}".format(value) }}
                                {% if value > 1 %} <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="The stake amount is greater than the current amount, that's why you are seeing an odds bigger than 100%." aria-hidden="true"></span>{%endif%}
                                </td>
                            {% elif col == 'Chances'%}
                                <td class="text-right" style="white-space: nowrap">1 in {{ "{:.2f}".format(value) }}</td>
                            {% elif 'USD' in col %}
                                <td class="text-right">${{ "{:.2f}".format(value) }}</td>
                            {% elif 'Reward' in col %}
                                <td class="text-right">{{ "{:.3f}".format(value) }}</td>
                            {% elif 'Risk' in col %}
                                <td class="text-right">{{ "{:.3f}".format(value) }}</td>
                            {% elif 'Stake share' in col %}
                                <td class="text-right">{{ "{:.2%}".format(value) }}</td>
                            {% else %}
                                <td class="text-right">{{ "{:,.0f}".format(value) }}</td>
                            {%endif%}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Explainers -->
    <div class="alert alert-info alert-dismissible" role="alert">
        <p>The odds and chances columns shows the chances to be drawn <strong>at least once</strong> in a dispute with the number of jurors selected. The Stake share is the ratio between the configured stake and the total stake in that court, equivalent to the odds with one vote per round.</p>
    </div>
    <div class="alert alert-info alert-dismissible" role="alert">
        <p>Reward/Risk is the ratio between Reward(USD) and VoteStake(USD)</p>
    </div>
</div>

{% endblock %}
